{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="static/{{ css }}">
{% endblock head %}
{% block body %}
    <section id="process_lap" class="process_lap">
        <div id="controll-option" class="controll-option">
            <form class="create_form" action="/creation_form-{{sec}}" method="post" enctype="multipart/form-data">
                <h2 id="creation" class="head">Create a New Product</h2>
                <h1>Title</h1>
                <input name="name" id="new_product_Title" type="text" autocomplete="off" placeholder="Title" autofocus>
                <h1>Brand</h1>
                <input name="brand" id="new_product_description" type="text" autocomplete="off" placeholder="Brand">
                <h1>Desciption</h1>
                <input name="description" id="new_product_description" type="text" autocomplete="off" placeholder="Description">
                <h1>Price before</h1>
                <input name="old_price" id="new_product_old_price" type="number" autocomplete="off" placeholder="Price before">
                <h1>Price after</h1>
                <input name="new_price" id="new_product_new_price" type="number" autocomplete="off" placeholder="Price after">
                <h1>Colors</h1>
                <div class="color_select_div">
                    <select class="color_select" name="color1">
                        <option>----</option>
                        <option>Red</option>
                        <option>Green</option>
                        <option>Blue</option>
                        <option>Black</option>
                        <option>White</option>
                    </select>
                    <select class="color_select" name="color2">
                        <option>----</option>
                        <option>Red</option>
                        <option>Green</option>
                        <option>Blue</option>
                        <option>Black</option>
                        <option>White</option>
                    </select>
                    <select class="color_select" name="color3">
                        <option>----</option>
                        <option>Red</option>
                        <option>Green</option>
                        <option>Blue</option>
                        <option>Black</option>
                        <option>White</option>
                    </select>
                    <select class="color_select" name="color4">
                        <option>----</option>
                        <option>Red</option>
                        <option>Green</option>
                        <option>Blue</option>
                        <option>Black</option>
                        <option>White</option>
                    </select>
                    <select class="color_select" name="color5">
                        <option>----</option>
                        <option>Red</option>
                        <option>Green</option>
                        <option>Blue</option>
                        <option>Black</option>
                        <option>White</option>
                    </select>
                </div>
                <div class="product_img">
                    <div class="product_img_header">
                        <h1 id="img1_hed">product image 1</h1>
                    </div>

                    <div class="product_img_image">
                        <input id="product_image1" class="creation_inputs" type="text" autocomplete="off" placeholder="Image 1">
                    </div>

                    <div class="upload_btn_div">
                        <input name="img1" type="file" id="uploadbtn" accept="image/png, image/jpg, image/webp, image/avif, image/jpeg">
                        <label id="uploadbtn_label1" for="uploadbtn">Upload</label>
                    </div>

                </div>

                <div class="product_img">
                    <div class="product_img_header">
                        <h1 id="img2_hed">product image 2</h1>
                    </div>

                    <div class="product_img_image">
                        <input id="product_image2" type="text" autocomplete="off" placeholder="Image 2">
                    </div>

                    <div class="upload_btn_div">
                        <input name="img2" type="file" id="uploadbtn2">
                        <label id="uploadbtn_label2" for="uploadbtn2">Upload</label>
                    </div>

                </div>
                <div class="product_img">
                    <div class="product_img_header">
                        <h1 id="img3_hed">product image 3</h1>
                    </div>

                    <div class="product_img_image">
                        <input id="product_image3" type="text" autocomplete="off" placeholder="Image 3">
                    </div>

                    <div class="upload_btn_div">
                        <input name="img3" type="file" id="uploadbtn3">
                        <label id="uploadbtn_label3" for="uploadbtn3">Upload</label>
                    </div>

                </div>
                <div class="product_img">
                    <div class="product_img_header">
                        <h1 id="img4_hed">product image 4</h1>
                    </div>
                    <div class="product_img_image">
                        <input id="product_image4" type="text" autocomplete="off" placeholder="Image 4">

                    </div>
                    <div class="upload_btn_div">
                        <input name="img4" type="file" id="uploadbtn4">
                        <label id="uploadbtn_label4" for="uploadbtn4">Upload</label>
                    </div>

                </div>
                <div class="product_img">
                    <div class="product_img_header">
                        <h1 id="img5_hed">product image 5</h1>
                    </div>
                    <div class="product_img_image">
                        <input id="product_image5" type="text" autocomplete="off" placeholder="Image 5">

                    </div>
                    <div class="upload_btn_div">
                        <input name="img5" type="file" id="uploadbtn5">
                        <label id="uploadbtn_label5" for="uploadbtn5">Upload</label>
                    </div>

                </div>

                    <button id="product_submit" class="product_submit">Create</button>
                    <h1 id="message">Product successfully added</h1>
            </form>


        </div>
        <div id="flash1" class="flash1">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </section>
{% endblock body %}