{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="static/{{ css }}">
{% endblock head %}
{% block body %}
    <section class="acc_section">
        {% if del_mode_row.del_mode == 1 %}

            <div id="side_cart_div2" class="side_cart_div2">
                <div class="hed">
                    <form method="post">
                        <input type="number" name="del_take" id="del_take">
                        <button id="close_btn2">Close <span>X</span></button>
                    </form>
                    <h1>My Cart</h1>
                </div>
                {% for car in user_car %}
                <div class="side_cart_product">
                    <div class="product_data">
                        <div class="cart_pro_title_div">
                            {% if car.Brand|length >= 15 or car.Name|length >= 15 %}
                                <h2 class="long_cart_pro_name_brand">{{ car.Name }} | {{ car.Brand }}</h2>
                            {% else %}
                                <h2 class="cart_pro_name_brand">{{ car.Name }} | {{ car.Brand }}</h2>
                            {% endif %}
                        </div>
                        <div class="cart_priceandcolor_div">
                            <div class="cart_price_div">
                                <span class="price_word">Price: <span class="cart_price">{{ car.price }}</span><span class="dolar">$</span></span>
                            </div>
                            <div class="cart_color_div">
                                <span class="color_word">Color: <button id="cart_color_btn" class="{{ car.color }}"></button></span>
                            </div>
                        </div>

                        <div class="cart_sizeandquantity_div">
                            <div class="cart_size_div">
                                <span class="size_word">Size: <span class="size_value">{{ car.size }}</span></span>
                            </div>
                            <div class="cart_quantity_div">
                                <span class="quantity_word">Quantity: <span class="quantity_value">{{ car.quantity }}</span></span>
                            </div>
                        </div>


                        <div class="car_edit_btns">
                            <a href="/cart_update/{{car.id}}/{{car.product_id}}"><button class="car_update">Update</button></a>
                            <a href="/cart_delete/{{car.id}}"><button class="car_delete">Delete</button></a>
                        </div>

                    </div>
                    <div class="product_image">
                        <img id="cart_img" src="static/uploads/{{ car.img1 }}" alt="image">
                    </div>
                </div>
                {% endfor %}
                <div class="cart_foot">
                    <span class="total_price" id="total_price"></span>
                </div>
                <a href="/checkout"><button id="checkout">Checkout</button></a>

            </div>
        {% else %}
            <div id="side_cart_div" class="side_cart_div">
                <div class="hed">
                    <button id="close_btn">Close <span>X</span></button>

                    <h1>My Cart</h1>
                </div>
                {% for car in user_car %}
                    <div class="side_cart_product">
                        <div class="product_data">
                            <div class="cart_pro_title_div">
                                {% if car.Brand|length >= 15 or car.Name|length >= 15 %}
                                    <h2 class="long_cart_pro_name_brand">{{ car.Name }} | {{ car.Brand }}</h2>
                                {% else %}
                                    <h2 class="cart_pro_name_brand">{{ car.Name }} | {{ car.Brand }}</h2>
                                {% endif %}
                            </div>
                            <div class="cart_priceandcolor_div">
                                <div class="cart_price_div">
                                    <span class="price_word">Price: <span class="cart_price">{{ car.price }}</span><span class="dolar">$</span></span>
                                </div>
                                <div class="cart_color_div">
                                    <span class="color_word">Color: <button id="cart_color_btn" class="{{ car.color }}"></button></span>
                                </div>
                            </div>

                            <div class="cart_sizeandquantity_div">
                                <div class="cart_size_div">
                                    <span class="size_word">Size: <span class="size_value">{{ car.size }}</span></span>
                                </div>
                                <div class="cart_quantity_div">
                                    <span class="quantity_word">Quantity: <span class="quantity_value">{{ car.quantity }}</span></span>
                                </div>
                            </div>


                            <div class="car_edit_btns">
                                <a href="/cart_update/{{car.id}}/{{car.product_id}}"><button class="car_update">Update</button></a>
                                <a href="/cart_delete/{{car.id}}"><button class="car_delete">Delete</button></a>
                            </div>

                        </div>
                        <div class="product_image">
                            <img id="cart_img" src="static/uploads/{{ car.img1 }}" alt="image">
                        </div>
                    </div>
                {% endfor %}
                <div class="cart_foot">
                    <span class="total_price" id="total_price"></span>
                </div>
                <a href="/checkout"><button id="checkout">Checkout</button></a>

            </div>
        {% endif %}



        <script>
            var total = 0;
            {% for car in user_car %}
            total += parseFloat({{ car.price }} * {{ car.quantity}});
            {% endfor %}
            let cart_total_price = document.getElementById('total_price')
            if(cart_total_price)
            {
                cart_total_price.innerHTML = "Total Price: "+total+"<span class='total_dolar'>&dollar;</span>";
            }

            let del_take = document.getElementById('del_take');
            let close_btn = document.getElementById('close_btn2');
            close_btn.onclick = function(){
                del_take.value = 0;
            }




        </script>
        <div class="acc_header">
            <h1 id="my_account">MY ACCOUNT</h1>
        </div>
        <div class="acc_rooms_container">
            <div class="acc_rooms">

                <a href="/order_history" class="acc_room" id="order_history_btn">
                    <div class="room_img" id="order_img"><img src="static/order_history.webp" alt="icon"></div>
                    <div class="room_info">
                        <h2 id="order_h2">Order History</h2>
                        <p id="order_p">Track, return, or buy things again</p>
                    </div>
                </a>



                <div id="account_room_btn" class="acc_room">
                    <div class="room_img"><img src="static/acc_security.webp" alt="icon" id="account_img"></div>
                    <div class="room_info">
                        <h2 id="account_h2">Account & Security</h2>
                        <p id="account_p">View your account</p>
                    </div>
                </div>
                <div id="account_room" class="room">
                    <div class="room_content">
                        <div class="room_head">
                            <p>Hello <span>{{user}}</span></p>
                            <button id="back_btn2" class="back">Back to the Account page</button>
                        </div>
                        <h4 class="table_head">Account Details</h4>
                        <div id="first_data_div" class="data_div">
                            <h3 class="h3">Name:</h3>
                            <p class="p">{{info_row.first_name}} {{user}}</p>
                        </div>
                        <div class="data_div">
                            <h3 class="h3">Username:</h3>
                            <p class="p">{{user}}</p>
                        </div>
                        <div class="data_div">
                            <h3 class="h3">Email:</h3>
                            <p class="p">{{user_email}}</p>
                        </div>
                        <div class="data_div">
                            <h3 class="h3">Address:</h3>
                            <p class="p">{{info_row.address}}</p>
                        </div>
                        <div class="data_div">
                            <h3 class="h3">password:</h3>
                            <p class="p"><a href="/account_update">Reset your password</a></p>
                        </div>
                    </div>
                </div>



                <div id="information_room_btn" class="acc_room">
                    <div class="room_img"><img src="static/cus_info.png" alt="icon" id="info_img"></div>
                    <div class="room_info">
                        <h2 id="info_h2">Customer Information</h2>
                        <p id="info_p">Edit your information for orders</p>
                    </div>
                </div>
                <div id="information_room" class="room">
                    <div class="room_content">
                        <div class="room_head">
                            <p>Hello <span>{{user}}</span></p>
                            <button id="back_btn3" class="back">Back to the Account page</button>
                        </div>
                        <h4 id="table_head2" class="table_head">Customer Information</h4>
                        <div id="first_data_div" class="data_div">
                            <div class="sep_data1">
                                <h3>First name:</h3>
                                <p>{{info_row.first_name}}</p>
                            </div>
                            <div class="sep_data">
                                <h3>Last name:</h3>
                                <p>{{info_row.last_name}}</p>
                            </div>
                        </div>
                        <div class="data_div">
                            <div class="sep_data1">
                                <h3>Country:</h3>
                                <p>{{info_row.country}}</p>
                            </div>
                            <div class="sep_data">
                                <h3>City:</h3>
                                <p>{{info_row.city}}</p>
                            </div>
                        </div>
                        <div class="data_div">
                            <div class="sep_data1">
                                <h3>Address:</h3>
                                <p>{{info_row.address}}</p>
                            </div>
                            <div class="sep_data">
                                <h3>Apartment no.:</h3>
                                <p>{{info_row.apartment_no}}</p>
                            </div>
                        </div>
                        <div class="data_div">
                            <div class="sep_data1">
                                <h3>Phone:</h3>
                                <p>{{info_row.phone}}</p>
                            </div>
                            <div class="sep_data">
                                <h3>Cash Palance:</h3>
                                <p>{{info_row.cash}}</p>
                            </div>
                        </div>
                        <a class="change_information_btn" href="/customer_information">Change Your Information</a>
                    </div>
                </div>



                <div id="returns_room_btn" class="acc_room">
                    <div class="room_img"><img src="static/returns.webp" alt="icon" id="returns_img"></div>
                    <div class="room_info">
                        <h2 id="returns_h2">Returns & Exchanges</h2>
                        <p id="returns_p">OUR RETURN & EXCHANGE POLICY</p>
                    </div>
                </div>
                <div id="returns_room" class="room">
                    <div class="room_content">
                        <div class="returns_head">
                            <h1>RETURNS & REFUNDS</h1>
                            <button id="back_btn4" class="back">Back to the Account page</button>
                        </div>
                        <div class="policy">
                            <span>Creativeness Mall Return policy terms and conditions.</span>
                            <br>
                            <br>
                            <span>You have 14 days to make a RETURN from the date your order has been delivered.</span>
                            <br>
                            <br>
                            <span>Creativeness Mall currently does NOT offer an exchange policy.</span>
                            <br>
                            <br>
                            <p>Items returned must be unused, unworn items with their labels still intact with the original packing. We do not accept a returned item that is worn, damaged, washed, or altered in any way.

                                ·The following items cannot be returned/exchanged: swimwear, socks, lingerie, earrings, Soiree Dresses, Evening Dresses, Undershirts & Shorts, beauty products or any custom-made orders.

                                ·Where provided, belts and any designer packaging such as authenticity cards, dust bags, and leather tags should be included with any return. Items that are damaged or soiled will not be accepted for return and will be sent back to the customer and/or a refund refused.

                                ·The amount will be refunded after inspecting and approving the returned products within one working week (7 working days)

                                ·Returns that do not meet Creativeness Mall Return Policy will not be accepted and will be sent back to you, and a refund will not be processed.

                                ·It is not possible to open the package on the door or return it on the spot with the courier. If you face any problem, you can return/exchange it as per our return policy.

                                ·Please note that the shipping fees vary between governorates. Refunds will be made AFTER deducting the shipping fees.
                                Refund method will be via a bank account, Wallet or store credit on Creativeness Mall account.</p>
                        </div>
                    </div>
                </div>

                <div id="contacts_room_btn" class="acc_room">
                    <div class="room_img"><img src="static/contact_us.webp" alt="icon" id="contacts_img"></div>
                    <div class="room_info">
                        <h2 id="contacts_h2">Contact us</h2>
                        <p id="contacts_p">General Customer Care and Online Orders</p>
                    </div>
                </div>
                <div id="contacts_room" class="room">
                    <div class="room_content">
                        <div class="returns_head">
                            <h1>Contact Us</h1>
                            <button id="back_btn5" class="back">Back to the Account page</button>
                        </div>
                        <div class="contacts">
                            <a href="#"><img id="im1" src="static/fbb1.png" alt="fb"></a>
                            <a href="#"><img src="static/insta1.png" alt="insta"></a>
                            <a href="#"><img src="static/snap.jpg" alt="snap"></a>
                        </div>
                    </div>
                </div>


                <div onclick="openpopup()" class="acc_room" id="logout_btn">
                    <div class="room_img"><img src="static/log_out.webp" alt="icon" id="logout_img"></div>
                    <div class="room_info">
                        <h2 id="logout_h2">Logout</h2>
                        <p id="logout_p">Logout from your account</p>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="title">
                <h3>A CULUTURE OF FASHION</h3>
            </div>
            <div class="all_footer">
                <div class="footer_container">
                    <div class="join_us">
                        <h3>JOIN US</h3>
                        <a href="/register">sign up</a>
                    </div>
                    <div class="contact_us">
                        <h3>CONTACT US</h3>
                        <a href="#">contact us</a>
                    </div>
                    <div class="social_icons">
                        <a gref="#"><img src="static/facebook1.png" alt="facebook"></a>
                        <a gref="#"><img src="static/instagram.png" alt="instagram"></a>
                        <a gref="#"><img src="static/youtube.png" alt="youtube"></a>
                    </div>
                    <div class="footer_bar">
                        <h6>© CREATIVENESS 2023. All Rights Reserved</h6>
                        <div class="visa_icons">
                            <img src="static/visa1.png" alt="VisaCard">
                            <img src="static/mastercard1.webp" alt="MasterCard">
                            <img src="static/paypal.png" alt="Paypal">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
{% endblock body %}